@{
    ViewBag.Title = "Strona główna";
}



<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h1>Figurki kolekcjonerskie</h1>
            <p class="lead">Witamy na naszej stronie.
                @if(!Request.IsAuthenticated) {
                    @: Zapraszamy do utworzenia konta.
                }
            </p>
            <hr />
            <button type="button"
                    class="btn btn-default"
                    onclick="location.href='@Url.Action("Index", "Statistics")'">
                Wyświetl statystyki
            </button>
        </div>
    </div>
    <div class="list-group col-md-3">
        <a href="/figurka" class="list-group-item">Lista figurek</a>
        <a href="/typ" class="list-group-item">Lista typów figurek</a>
        <a href="/seria" class="list-group-item">Lista serii</a>
    </div>
</div>