@model collectible_figures.ViewModels.StatisticsViewModel

@{
    ViewBag.Title = "Statystyki";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Statystyki</h3>
    </div>
    <div class="panel-body">
        @*Panel content*@
        <table class="table">
            <tr>
                <span class="label label-primary">Ilość figurek</span>
                <span class="label label-default">@Model.amountOfFigures</span>

            </tr>
            <br /><br />
            <tr>
                <span class="label label-primary">Ilość serii</span>
                <span class="label label-default">@Model.amountOfSeries</span>
            </tr>
            <br /><br />
            <tr>
                <span class="label label-primary">Ilość typów figurek</span>
                <span class="label label-default">@Model.amountOfClassifications</span>
            </tr>
        </table>
    </div>
</div>

