@model collectible_figures.Models.Classification

@{
    ViewBag.Title = "Usuń typ";
}

<h2>Usuń typ</h2>

<h3>Czy jesteś pewien, że chcesz to usunąć?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy typów figurek", "Index")
        </div>
    }
</div>
