@model collectible_figures.Models.Classification

@{
    ViewBag.Title = "Szczegóły typu";
}

<h2>Szczegóły typu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassificationID }) |
    @Html.ActionLink("Powrót do listy typów figurek", "Index")
</p>
