@model collectible_figures.Models.Classification

@{
    ViewBag.Title = "Szczegóły typu";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Szczegóły typu</h3>
    </div>
    <div class="panel-body">
        @*panel content*@
        <dl class="dl-horizontal">
            <span class="label label-info">@Html.DisplayNameFor(model => model.Name)</span>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        <hr />
        <button type="button"
                class="btn btn-default"
                onclick="location.href='@Url.Action("Index", "Classifications")'">
            Powrót do listy typów figurek
        </button>
    </div>
</div>