@model collectible_figures.Models.Series

@{
    ViewBag.Title = "Szczegóły serii";
}

<h2>Szczegóły serii</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.SeriesID }) |
    @Html.ActionLink("Powrót do listy serii", "Index")
</p>
