
@{
    ViewBag.Title = "";
}

@if (ViewBag.displayMenu == "Yes") {
    <h1>Witaj administratorze @ViewBag.Name!</h1>
    <h3>
        <li>@Html.ActionLink("Zarządzaj rolami użytkowników", "Index", "Roles")</li>
    </h3>
}
else {
    <h2>  Witaj, <strong>@ViewBag.Name</strong>! Jesteś poprawnie zalogowany. </h2>
}

